body {
    font-family: 'Noto Sans TC', sans-serif;
}

li {
    list-style-type: none;
}

.info {
    font-style: italic;
    color: rgb(121, 15, 121);
}

.title {
    font-weight: bolder;
    margin-bottom: 20px;
    margin-left: 10px;
}

.infotitle {
    font-weight: bold;
}

.infocontainer {
    border: 1px solid #000000;
    width: 280px;
    padding: 10px;
    border-radius: 15px;
    z-index: 1000;
    margin: 10px;
}

.card {
    border: 1px solid #000000;
    width: 320px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 10px #dbdbdb;
    z-index: 500;
}

img {
    border-radius: 15px;
    box-shadow: 5px 10px #dbdbdb;
    z-index: 1000;
    margin: 10px;
}